html,
body {
    height: 100%;
    padding-top: 20px;
}

/* Wrapper for page content to push down footer */
#applicationHost {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 90px;
}
/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}

.container .credit {
    margin: 20px 0;
}

.admin-appHost {
    width: auto;
    max-width: 1250px;
    padding: 0 15px;
}

.admin-content {
    width: auto;
    max-width: 1250px;
    padding: 0px 0px 0px 0px;
}


.vertical-container {
    display: table;
}

.vertical-container .middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.bold-text {
    font-weight: bold;
}

.filter-control {
    margin-left: 10px;
}

.header-input>td{
    vertical-align: middle !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-horizontal .time-label{
    padding-top: 42px;
}

/*.ace_editor { height: 200px; }*/

.import-area {
    width: 840px;
    height: 250px;
}


#splash-page {
    z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
    z-index: 99999 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #424040;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    /*color: #F58A00;*/
    color: #efb73e;
    padding: 0;
}
