
<h2 class="page-title">Preferences</h2>

<div class="row-fluid">
  <div class="col-lg-6">

    <form class="form-horizontal jumbotron" ng-submit="preferencesVm.savePreferences()">
      <fieldset>

        <legend>Please Enter the Weather Address</legend>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputStreet" placeholder="Street" ng-model="preferencesVm.currentUser.preferences.street">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="preferencesVm.currentUser.preferences.city">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputZipCode" placeholder="ZipCode" ng-model="preferencesVm.currentUser.preferences.zipcode">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Temperature</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="preferencesVm.currentUser.preferences.temperature" name="temperature" id="imperial" value="imperial" checked="">
                Fahrenheit
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="preferencesVm.currentUser.preferences.temperature" name="temperature" id="metric" value="metric">
                Celsius
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>
