<div class="row-fluid">
  <div class="col-lg-6">

    <form name="loginForm" class="form-horizontal jumbotron" ng-submit="signupVm.login()">
      <fieldset>

        <legend>Login Form</legend>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="loginEmail" placeholder="Email" ng-model="signupVm.user.email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="signupVm.user.password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

  <div class="col-lg-6">

    <form name="signUpForm" class="form-horizontal jumbotron">
      <fieldset>

        <legend>No Account? No Problem! Just Create one here.</legend>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="singupName" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" id="singupEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="password" class="form-control" id="signupPassword" placeholder="Password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <input type="password" class="form-control" id="signupPasswordVerify" placeholder="Password Verify">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button type="submit" class="btn btn-success">Sign Up</button>
          </div>
        </div>
      </fieldset>
    </form>

  </div>

</div>

